target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

out
**/out/

**/*.log

.idea/
**/*.iml
.mvn/
.vscode/
.settings
.project
.classpath
*.code-workspace

.DS_Store

nbactions.xml
# Vaadin
node_modules
src/main/frontend/generated/

pnpmfile.js
vite.generated.ts
*.js
**/package.json
**/package-lock.json

/.project

bauta-core/.vaadin-node-tasks.lock
