<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id>
            <username>axelikama</username>
            <password>Axel@ikama1</password>
        </server>
        <server>
            <id>ossrh</id>
            <username>HrxlPrFm</username>
            <password>RXqqZ91ZRKJ7e+MVG1ZPS0G/1Ht/Fems89wjkaYsu0Ev</password>
        </server>
        <!--<server>
            <id>ossrh</id>
            <username>mattias-arbin</username>
            <password>HamnPuben1985!</password>
        </server>-->
        <server>
            <id>gpg.passphrase</id>
            <passphrase>BautaSten72</passphrase>
        </server>
        <server>
            <id>A5D3CA87</id>
            <passphrase>BautaSten72</passphrase>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg2</gpg.executable>
                <gpg.passphrase>BautaSten72</gpg.passphrase>
                <gpg.keyname>A5D3CA87</gpg.keyname>
            </properties>
        </profile>
        <profile>
            <id>oracle</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
        <profile>
            <id>ehm</id>
            <repositories>
                <repository>
                    <id>nll-migrering</id>
                    <url>http://vioxx/nexus2/content/groups/nll-migrering/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>
