.step-label {
    font-size: 0.8em;
    margin-left: 4px;
}
.step-label.flow-0 {
    border-left: 5px solid #ffffff;
    padding-left: 5px;
    margin-left: 0;
}
.step-label.flow-1 {
    border-left: 5px solid #bbbbbb;
    padding-left: 5px;
    margin-left: 0;
}
.batch_status {
    display: inline-block;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.6em;
    color: #eeeeee;
    border-radius: var(--lumo-border-radius-m);
    background-color: var(--lumo-contrast-30pct);
}
.batch_status[data-status="COMPLETED"] {
    background-color: var(--lumo-success-color);
}
.batch_status[data-status="ABANDONED"] {
    background-color: var(--lumo-error-color-50pct);
}
.batch_status[data-status="STARTED"] {
    background-color:var(--lumo-primary-color);

    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
.batch_status[data-status="STARTING"] {
    background-color:var(--lumo-primary-color);
}
.batch_status[data-status="FAILED"] {
    background-color: var(--lumo-error-color);
}
.batch_status[data-status="STOPPED"] {
    background-color: var(--lumo-primary-color);
}
.batch_status[data-status="STOPPING"] {
    background-color: var(--lumo-primary-color);
}
.batch_status[data-status="UNKNOWN"] {
    background-color: var(--lumo-contrast-30pct);
}
.batch_status.old_execution {
    opacity: 0.7;
}
@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.3;}
}
.job-cell-info {
    font-size: 0.8em;
}
.step-row {
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
    margin: 0px;
    padding: 2px;
}
.split-first {
    background-image: url("../static/images/split-first.png");
    background-repeat: no-repeat;
}
.split {
    background-image: url("../static/images/split.png");
    background-repeat: no-repeat;
}
.split-last {
    background-image: url("../static/images/split-last.png");
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
}

.step-progress {
    width: 20px;
}
.build-info {
    font-size: 0.75em;
    margin-right: 10px;
}
.rotate {
    -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}