<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include directory="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <include directory="org/springframework/boot/logging/logback/file-appender.xml" />
    <include directory="org/springframework/boot/logging/logback/console-appender.xml" />
    
    <logger name="hsqldb.db" level="WARN" additivity="false" >
        <appender-ref ref="FILE"  />
        <appender-ref ref="CONSOLE" />    
    </logger>
    <logger name="org.springframework" level="WARN" additivity="false" >
        <appender-ref ref="FILE"  />
        <appender-ref ref="CONSOLE" />    
    </logger>
    <logger name="org.springframework.batch" level="INFO" additivity="false" >
        <appender-ref ref="FILE"  />
        <appender-ref ref="CONSOLE" />    
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"  />
        <appender-ref ref="CONSOLE"  />
    </root>
</configuration>
