
.job_title {
    font-color: lightgreen;
}
.job_cell {
    align-items: baseline;
}

.step_status {
    display: inline-block;
    margin-left: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.6em;
    color: #eeeeee;
    border-radius: var(--lumo-border-radius-m);
}